.main-form{
width: 70%;
background-color: aliceblue;
padding: 20px;
margin-left: 39px;
border-radius: 14px 14px 14px 14px;
margin: 0 auto;
border-top: 4px solid navy;
}
.btn-submit{
    text-align: right;
   
}
.main-form .form-control{
    display: inline-block;
    width: 50%;
    margin-bottom: 5px;
}
